body{

}

h1, h2, h3, h4, h5{
    color: #D85D07;
}

/*-------- HEADER ----------*/

.header{
    padding: 10px 0;
}

.border-orange{
    border-bottom: 1px solid #D85D07;
}

.searchbox{
    margin-left: 20px;
}

.searchbox input{
    height: 30px;
    border-radius: 20px 0 0 20px;
}
.searchbox .button{
    border-radius: 0 20px 20px 0;
    transition: 0.1s ease-in-out;
}
.searchbox .button:hover{
    cursor: pointer;
    background-color: #D85D07;
    color: #E9ECEF;
}

a, a:visited{
    text-decoration: none;
    color:inherit;
    transition: 0.1s ease-in-out;
}
a:hover, a.active{
    text-decoration: none;
    color: #D85D07;
}

section{
    padding: 60px 0 60px 0;
}

.intro figure{
    margin-bottom: 50px;;
}

.intro img{
    width: 100%;
    max-width: 400px;
}

.intro a{
    padding: 6px 10px;
    background-color: #000000;
    color: #ffffff;
    /*margin: 0 20px 0 20px;*/
}

.intro a:hover{
    background-color: #D85D07;
}

.intro__nav{
    width:100%;
    max-width: 600px;
}

footer{
    background-color: #222222;
    color: #ffffff;
}