body{

}

h1, h2, h3, h4, h5{
    color: #D85D07;
}

/*-------- HEADER ----------*/

.header{
    padding: 10px 0;
}

.border-orange{
    border-bottom: 1px solid #D85D07;
}

.searchbox{
    margin-left: 20px;
}

.searchbox input{
    height: 30px;
    border-radius: 20px 0 0 20px;
}
.searchbox .button{
    border-radius: 0 20px 20px 0;
    transition: 0.1s ease-in-out;
}
.searchbox .button:hover{
    cursor: pointer;
    background-color: #D85D07;
    color: #E9ECEF;
}

a, a:visited{
    text-decoration: none;
    color:inherit;
    transition: 0.1s ease-in-out;
}
a:hover, a.active{
    text-decoration: none;
    color: #D85D07;
}

section{
    padding: 60px 0 60px 0;
}

.intro figure{
    margin-bottom: 50px;;
}

.intro img{
    width: 100%;
    max-width: 400px;
}

.intro__nav a{
    padding: 6px 10px;
    background-color: #000000;
    color: #ffffff;
    width: 110px;
    display: block;
    text-align: center;
}
.intro__link{
    margin-top: 10px;
    margin-bottom: 10px;;
}

.intro a:hover{
    background-color: #D85D07;
}

.intro__nav{
    width:100%;
    max-width: 600px;
}

.protection__text{
    max-width: 400px;
}
.products__link{
    margin-bottom: 30px;
}
.products__link a{
    background-color: #D85D07;
    color: #ffffff;
    padding: 6px 14px;
}

.products__link a:hover::after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    content: "\00a0\00a0\f054";
    text-decoration: none;
}
.product__image{
    width: 100%;
    max-width: 250px;
}

.product__add{
    background-color: #000000;
    width: 100%;
    max-width: 250px;

    display: inline-block;
}

.prix{
    font-size: 1.4rem;
}

footer{
    background-color: #222222;
    color: #ffffff;
    font-size: 0.8rem;


    padding: 30px 0 30px 0;
}

footer img{
    width: 100%;
    max-width: 120px;
    border-radius: 50%;
}
.social{
    margin-top: 14px;
    margin-bottom: 14px;
}
.social a{
    font-size: 1.6rem;
    margin-left: 10px;
    margin-right: 10px;
}

footer .fa-envelope{
    font-size: 10px;
}

main{
    margin-top: 40px;
    margin-bottom: 40px;
    min-height: 85vh;

    position: relative;
}

.returnHome{
    position: absolute;
    top: 5px;
    right: 20px;

    font-size: 26px;

}

.returnHome a{
    background-color: #000000;
    color: #ffffff;

    padding: 5px 14px;
}

.returnHome a:hover{
    background-color: #D85D07;
}

.returnHome .fa-chevron-left{
    font-size: 14px;
}