body{

}

/*-------- HEADER ----------*/

.header{
    padding: 10px 0;
}

.searchbox{
    margin-left: 20px;
}

.searchbox input{
    height: 30px;
    border-radius: 20px 0 0 20px;
}
.searchbox .button{
    border-radius: 0 20px 20px 0;
    transition: 0.1s ease-in-out;
}
.searchbox .button:hover{
    cursor: pointer;
    background-color: #D85D07;
    color: #E9ECEF;
}

a, a:visited{
    text-decoration: none;
    color:inherit;
}
a:hover, a.active{
    text-decoration: none;
    color: #D85D07;
}